.hidden {
    display: none;
}

.row {
    display: flex;
    margin-bottom: 15px;
}

.card {
    border-color: black;
    border-width: thick;
    border-style: solid;
    width: 200px;
    height: 120px;
    margin-right: 15px;
    text-align: center;
    font-family: helvetica;
    font-size: 18pt;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#p1 {
    border-bottom: 2px dashed black;
    margin-right: 40px;
}

#p2 {
    color: grey;
}

.red {
    background-color: #e64c47;
}

.blue {
    background-color: #47aee6;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.yellow {
    background-color: yellow;
}

.white-text {
    color: white;
}

.rotate {
    transform: rotate(-180deg);
}
