.hidden {
    display: none;
}

.row {
    display: flex;
    margin-bottom: 15px;
}

.card {
    border-color: black;
    border-width: thin;
    border-style: solid;
    width: 200px;
    height: 100px;
    margin-right: 15px;
    text-align: center;
    font-size: 24pt;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
